{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Your shoping cart
{% endblock title %}

{% block content %}
<!-- <div class="text-center text-white d-flex masthead" style="height: 300px; background-image: url('/static/img/big4.jpg');">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase animate__animated animate__rotateIn" style="color: rgb(248, 43, 7); font-family: Arapey; font-size: 80px;"><strong>Your Cart</strong></h1>
                <hr />
            </div>
        </div>
        
    </div>
</div> -->

{% endblock content %}

{% block portfolio %}
<div class="container-fluid">
    <div class="row border border-2 text-center">
        <h1 style="font-family: arapey;">Items</h1>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td>
                                    <a href="{{product.get_absolute_url}}">
                                        <img src="{%if product.image%}{{product.image.url}}{% else %}{% static 'img/people/product1.jpg' %}{%endif%}" style="height: 120px;" alt="">
                                    </a>
                                </td>
                                <td>{{product.name}}</td>
                                <td>
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.override }}
                                        <button type="submit" class="btn btn-info">Update</button>
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td>Ksh.{{ item.price }}</td>
                                <td>Ksh.{{ item.total_price }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr class="total">
                        <td>Total</td>
                        <td colspan="4"></td>
                        <td>Ksh.{{cart.get_total_price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-right m-3">
            <a href="{% url 'shop:product_list' %}" class="btn btn-info">Continue Shopping</a>
            <a href="{% url 'orders:order_create' %}" class="btn btn-info m-3">Pay Now</a>
        </p>
    </div>
</div>

{% endblock portfolio %}

{% block modal %}
<h1 class="text-center m-0" style="font-family: merriweather;">Check Out more products</h1>
<section class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <img src="/static/img/newimages/Bags.jpg" alt="Farm Feeds" class="img-fluid rounded">
      </div>
      <div class="col-lg-6">
        <h2 style="font-family: merriweather;">Welcome to Our Farm Feeds Store</h2>
        <p style="font-family: arapey;">At Farm Feeds Company, we offer a wide range of high-quality feeds for your livestock. Our products are carefully crafted to meet the nutritional needs of your animals, ensuring their health and productivity.</p>
        <p style="font-family: arapey;">Explore our selection of feeds, from poultry and livestock to specialty feeds, and find the perfect solution for your farm. We are committed to providing the best nutrition for your animals.</p>
        <a href="{% url 'shop:product_list' %}" class="btn btn-outline-info">Shop Now</a>
      </div>
    </div>
  </section>


{% endblock modal %}

