{% extends 'shop/base.html' %}

{% block portfolio %}
<section id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center animate__animated animate__zoomIn">
        <h2 class="text-uppercase" style="font-family: arapey; font-size: 3rem; color: #000; background-image: linear-gradient(45deg, #ff0000, #00ff00); -webkit-background-clip: text; color: transparent; display: inline-block;">About Farm Feeds</h2>
        <h3 class="text-muted section-subheading" style="font-family: merriweather; font-size: 1.5rem; color: #000;">We strive to bring you the best in every produce, a promise we made from inception of this company. Below is the journey!</h3>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#valuesModal">Our Values and Principles</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="/static/img/products/DSC_0140.jpg" alt="Timeline Image" />
                  </div>
                </td>
                <td>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="subheading" style="font-family: merriweather">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" style="font-family: merriweather">Economy Farm products (k) ltd has been providing your livestock with well-balanced quality feeds and distributed animal health products for maximum returns since 1998. Ever since then, providing the farmer with the necessary tools for health, high-yielding livestock has been our main objective. Over the last 25 years, we have continued to grow to support you more efficiently and effectively.</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="timeline-inverted">
                <td>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="/static/img/products/DSC_0186.jpg" alt="Timeline Image" />
                  </div>
                </td>
                <td>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="subheading" style="font-family: arapey">Market Establishment</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" style="font-family: merriweather">We have established a wide market network with 4 established regions to serve you more efficiently. Region 1 is Nairobi and its environs; Region 2 is the Mt. Kenya region which includes areas within Eastern and Central province; Region 3 which covers Eldoret, Kitale, Naivasha and Nakuru is the North Rift region and The Western Region which covers Kakamega, Bungoma, Webuye and Kiminini. Each of these regions has designated sales people to ensure the region’s supply needs are met and distributors are promptly restocked.</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="timeline-image">
                    <img class="rounded-circle fill img-fluid" src="/static/img/products/DSC_0233.jpg" alt="Timeline Image" />
                  </div>
                </td>
                <td>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="subheading" style="font-family: arapey">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" style="font-family: merriweather">To further demonstrate our desire for your farms to be successful, we have also provided avenues for each farmer to remain up-to-date on the latest farming practices. Through our well-trained technical personnel, we provide technical follow-ups, seminars, and field days. Check the website’s bulletin board to stay updated on the next training within your region. Farm Feeds currently has a labor force of 35 permanent employees and 70 casual. The workforce is tasked with ensuring our state-of-the-art go-down is running smoothly and consistently producing the high quality of the feeds that you have come to expect and appreciate. The employees are regularly trained in the latest first aid and fire fighting techniques. We also have numerous delivery vans for the efficient delivery to the distributors across the 4 regions.</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="timeline-inverted">
                <td>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" style="height: 300px; width: 300px;" src="/static/img/newimages/IMG_20210105_132129.jpg" alt="Timeline Image" />
                  </div>
                </td>
                <td>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="subheading" style="font-family: arapey">Service Oriented</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted" style="font-family: merriweather">We work tirelessly to ensure that each farmer we interact with feels heard, and their needs are responded to in a timely manner. We always strive to maintain the highest integrity within our sector. Moreover, we work to ensure that the customers’ needs are met to ensure that farmers maximize their production and achieve higher returns.</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="timeline-inverted">
                <td colspan="2">
                  <div class="timeline-image">
                    <h4 style="font-family: arapey">Be Part<br /> Of Our<br /> Story!</h4>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}
