{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
{{product.name}}
{% endblock title %}

{% block content %}

{% endblock content %}


{% block portfolio %}
<!-- Product Details -->
<div class="col text-center m-3" style="padding: 20px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <div class="row">
    <!-- Image Column -->
    <div class="col-md-6">
        <div style="max-height: 500px; overflow: hidden; border-radius: 10px; margin-bottom: 20px;">
            <img style="width: 100%; height: 100%; object-fit: cover;" class="img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static '/img/product1.webp' %}{% endif %}" style="width: 100%; height: 100%; object-fit: cover;" alt="">
        </div>
    </div>
    <!-- Text Column -->
    <div class="col-md-6 text-left" style="border-radius: 10px; padding: 4rem; ">
        <h2 style="font-family: 'arapey', sans-serif; color: black; font-size: 40px; margin-bottom: 10px;">{{ product.name }}</h2>
        <a class="btn btn-sm btn-success" href="{{ product.category.get_absolute_url }}" style="font-family: 'arapey', sans-serif;"> Explore {{ product.category }}</a>
        <p style="font-family: 'merriweather', serif; color: #495057;">{{ product.description | linebreaks}}  </p>
        <p style="font-family: 'merriweather', serif; color: #495057;">Discover the unique features and craftsmanship that make {{ product.name }} a standout in the {{ product.category }} collection.</p>
        <a href="{% url 'shop:create_order' %}" class="btn btn-success" style="font-family: 'arapey', sans-serif;">Order Now and Experience Excellence!</a>
    </div>
</div>

</div>








<script>
    // JavaScript to handle the weight category selection and filtering
    const weightCategoryDropdown = document.getElementById('weight_category');
    weightCategoryDropdown.addEventListener('change', function() {
        const selectedCategory = this.value;
        const products = document.querySelectorAll('.col.text-center.m-3');

        products.forEach(product => {
            const productWeight = product.querySelector('strong').innerText;
            if (selectedCategory && productWeight.includes(selectedCategory)) {
                product.style.display = 'block';
            } else {
                product.style.display = 'none';
            }
        });
    });
</script>


{% endblock portfolio %}

{% block contactus %}
<div class="section text-center m-2">
  <h2 class="text-center" style="font-family: arapey; color: green;">Animal Feeds Nutrition Specification</h2>
  <div id="accordion-1" class="accordion" role="tablist">
    <div class="accordion-item" style="background-color: #457B9D;">
      <h2 class="accordion-header" role="tab"><button class="accordion-button"
           type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Farm Feeds
          Poultry Products</button></h2>
      <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fibre</th>
                  <th>Fat</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Broiler Stater Mash</td>
                  <td>2980 KCal/Kg</td>
                  <td>20% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.0%</td>
                  <td>0.45%</td>
                </tr>
                <tr>
                  <td>Broiler Finisher Mash Mash</td>
                  <td>3000 KCal/Kg</td>
                  <td>18% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.2%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Farm Gro Stater Mash</td>
                  <td>3100 KCal/Kg</td>
                  <td>21% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.2%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Chick Mash</td>
                  <td>2600 KCal/Kg</td>
                  <td>18% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.2%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Layers Mash</td>
                  <td>2600 KCal/Kg</td>
                  <td>15.5% Minimun</td>
                  <td>7.5% Minimum</td>
                  <td>6% Minimum</td>
                  <td>3.5%</td>
                  <td>1.25%</td>
                </tr>
                <tr>
                  <td>Kienyeji Poultry Mash</td>
                  <td>2300 KCal/Kg</td>
                  <td>15% Minimun</td>
                  <td>4% Minimum</td>
                  <td>6% Minimum</td>
                  <td>1.5%</td>
                  <td>0.7%</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #457B9D;">
      <h2 class="accordion-header" role="tab"><button 
          class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">More on Pig
          Feeds</button></h2>
      <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fat</th>
                  <th>Crude Fibre</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sow and Weaner Premium</td>
                  <td>300Kcal/Kg</td>
                  <td>16.5% ge Min</td>
                  <td>8.0%ge Max</td>
                  <td>7.0% ge Min</td>
                  <td>1.5% ge Min</td>
                  <td>0.7% ge Min</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item " style="background-color: #457B9D;">
      <h2 class="accordion-header text-center" role="tab"><button 
          class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">More on Dairy
          Products</button></h2>
      <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fibre</th>
                  <th>Fat</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Calf Early Weaner Meal</td>
                  <td>2600Kgcal/Kg</td>
                  <td>17% Min</td>
                  <td>8% Min</td>
                  <td>10% Min</td>
                  <td>0.5%</td>
                  <td>0.45%</td>
                </tr>
                <tr>
                  <td>Young Stock Meal</td>
                  <td>2500Kgcal/Kg</td>
                  <td>15.5% Min</td>
                  <td>12% Min</td>
                  <td>6% Min</td>
                  <td>0.7%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Farm Stock Meal</td>
                  <td>2000Kgcal/Kg</td>
                  <td>14% Min</td>
                  <td>12% Min</td>
                  <td>6% Min</td>
                  <td>0.7%</td>
                  <td>0.5%</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #457B9D;">
      <h2 class="accordion-header text-center" role="tab"><button 
          class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-3">More on Dog
          food</button></h2>
      <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fibre</th>
                  <th>Fat</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Skipa Dog Meal</td>
                  <td>3150Kcal/Kg</td>
                  <td>20% Min</td>
                  <td>5% Min</td>
                  <td>5% Min</td>
                  <td>2.2% Min</td>
                  <td>1.1% Min</td>
                </tr>

              </tbody>
            </table>
            <h3>Feeding Instructions</h3>
            <p>1. Skipa Dog Meal must be cooked befor being fed to the dogs.</p>
            <p>2. Add the dog meal to boiling water and cook by stirring for 15min to achieve a semi solid paste</p>
            <p>3. Allow to cool amd provide to the dogs as per instructions on the food pack.</p>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
    
{% endblock contactus %}



   



</body>

</html>
