{% extends 'shop/base.html' %}

{% block content %}

{% endblock content %}

{% block portfolio %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-xl-6 text-center mx-auto animate__animated animate__zoomIn animate__slow">
      <h2 style="font-family: 'Arapey', serif; font-size: 70px; color: #4CAF50;">Explore Our Distributors</h2>
      <p class="w-lg-75 mx-auto mb-4 text-muted" style="font-family: merriweather;">Discover our efficient distributors who are always stocked with your favorite products. Never run out of supplies! Check out the list below. Interested in becoming a distributor?
      </p>
  
      <button class="btn btn-success my-4 animate-bounce" data-bs-toggle="modal" data-bs-target="#whatsappModal" title="WhatsApp">WhatsApp us! <i class="fab fa-whatsapp" style="font-size: 23px;"></i></button>
    </div>

    <div class="col-md-12">
      <form method="GET" action="{% url 'shop:filtered' %}" class="form-inline text-center mb-4">
        <div class="form-group">
          <label for="location" class="sr-only">Location</label>
          <input type="text" class="form-control m-2" id="location" name="location" placeholder="Enter location">
        </div>
        <button type="submit" class="btn btn-info m-2">Filter</button>
      </form>
    </div>

    <div class="col-md-12 table-responsive">
      <table class="table custom-table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Contacts</th>
          </tr>
        </thead>
        <tbody>
          {% for c in distributors %}
          <tr>
            <td><a href="#" style="color: black; font-family: merriweather;">{{ c.name }}</a></td>
            <td style="color: black; font-family: merriweather;">{{ c.location }}</td>
            <td>{{ c.contacts }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-12 text-center">
      {% include "shop/product/pagination.html" with page=distributors %}
    </div>
  </div>
</div>
{% endblock portfolio %}
