{% extends 'base.html' %}
{% block content %}
  <section id="customer-section">
    <div>
      <h2>We Value Our Customers</h2>
      <p>At [Your Company Name], we deeply appreciate and value our customers. Your trust and satisfaction are our top priorities. As part of our commitment to excellence, we invite you to become a creditor and join us in shaping the future.</p>
      <p>To express your interest in becoming a creditor, please download and fill out the form below:</p>
    </div>

    <div>
      <a href="{% url 'shop:download_external_pdf' media / filedownload.pdf %}" download><button>Download Creditor Form (PDF)</button></a>
    </div>
  </section>
{% endblock %}
