{% extends 'shop/base.html' %} {% load static %} {% block content %}
{% comment %} <div class="hero-section">
  <div class="container">
      <div class="row">
          <!-- Left Column -->
          <div class="col-md-12 animate__animated animate__fadeInLeft">
              <div class="hero-content">
                  <h1 class="hero-title nice_text" style="font-size: 90px; color: red;"><b>Economy Farm Products Limited</b></h1>
                  <p class="hero-subtitle" style="color: red; font-size: 40px; font-family: merriweather;">Healthy, high yielding livestock!</p>
                  <a href="{% url 'shop:about' %}" class="btn btn-success btn-sm" style="font-family: arapey;">About Us</a>
                  <button style="font-family: arapey;" class="btn btn-sm btn-success my-4" data-bs-toggle="modal" data-bs-target="#whatsappModal" title="WhatsApp">whatsapp? </button>
                  <i class="fab fa-whatsapp" style="font-size: 23px;"></i>
              </div>
              
          </div>
      </div>
  </div>
</div> {% endcomment %}


        <!-- Right Column with Carousel -->
        <div class="col-fluid" style="height: 500px;">
          <!-- Insert your carousel code here -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <!-- Add more indicators as needed -->
            </ol>

            <!-- Slides -->
            <div class="carousel-item active fade-in animate__animated animate__fadeIn">
              <img class="img" src="/static/img/chickshd6.jpg" style="height: 400px;" alt="Image 1" />
              <div class="carousel-caption">
                <h3 class="carousel-title" style="font-family: arapey; font-size: 5rem;"><b>ECONOMY FARM PRODUCTS</b></h3>
                <a href="{% url 'shop:product_list' %}" class="btn btn-success">See Products</a>
                <a href="{% url 'shop:create_order' %}" class="btn btn-success">Create Order</a>
              </div>
            </div>
          
            <div class="carousel-item fade-in animate__animated animate__fadeIn">
              <img class="img" src="/static/img/newanimes/dog.png" style="height: 400px;" alt="Image 2" />
              <div class="carousel-caption">
                <h3 class="carousel-title" style="font-family: arapey; font-size: 5rem;"><b>ECONOMY FARM PRODUCTS</b></h3>
                <a href="{% url 'shop:product_list' %}" class="btn btn-success">See Products</a>
                <a href="{% url 'shop:create_order' %}" class="btn btn-success">Create Order</a>
              </div>
            </div>
              <!-- Add more slides as needed -->
              <div class="carousel-item fade-in animate__animated animate__fadeIn">
                <img class="img" src="/static/img/newanimes/pigs-Duroc-farm-Highlands-of-Scotland.webp" style="height: 400px;" alt="Image 2" />
                <div class="carousel-caption">
                  <h3 class="carousel-title" style="font-family: arapey; font-size: 5rem; color: white;"><b>ECONOMY FARM PRODUCTS</b></h3>
                  <a href="{% url 'shop:product_list' %}" class="btn btn-success" style="background-color: green;">See Products</a>
                  <a href="{% url 'shop:create_order' %}" class="btn btn-success" style="background-color: green;">Create Order</a>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} images product_gallery {% endcomment %}
  <div class="container-fluid text-center" style="background-color: #f5f5f5; color: #333; padding: 3rem;">
    <h1 style="font-size: 3rem; margin-bottom: 2rem; font-weight: bold; color: #333;">Product Gallery</h1>
  
    <div class="gallery-container">
      <div class="gallery">
        {% for product in products %}
          <div class="photo">
            <img src="{{ product.image.url }}" alt="{{ product.description }}">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  
  

{% endblock %} {% block portfolio %}
<div class="container-fluid py-4 py-xl-5" style="background-color: rgba(0, 0, 0, 0.2); color: #fff;">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
      <h2 style="font-size: 2.5rem;">Our Stories</h2>
      <p class="w-lg-50 mx-auto" style="color: black;">We have come a long way, with our dear customers in mind, and as we improve our products, we update you and want to hear from you!</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
      <div class="card text-white bg-dark">
        <img class="card-img-top" src="/static/img/products/DSC_0083.JPG" alt="Card image cap" style="height: 200px; object-fit: cover; border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title" style="font-family: 'Arial', sans-serif;">A word from the Director</h4>
          <blockquote class="card-text">
            <em>"I am dedicated to our mission of nourishing healthier livestock, ensuring the highest yields, and supporting the success of our farming partners. Our commitment to quality, innovation, and sustainability remains unwavering."</em>
          </blockquote>
          <div class="d-flex align-items-center">
            <img class="rounded-circle me-3" width="50" height="50" src="/static/img/people/DSC_0054.JPG" alt="Director Image">
            <div>
              <p class="fw-bold mb-0">Christine Nyambura</p>
              <p class="text-muted mb-0">Director</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark">
        <img class="card-img-top" src="/static/img/people/DSC_0220.jpg" alt="Card image cap" style="height: 200px; object-fit: cover; border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title" style="font-family: 'Arial', sans-serif;">A word from the Production Manager</h4>
          <blockquote class="card-text">
            <em>"I am privileged to lead a team dedicated to delivering exceptional services to our valued clients. We take great pride in our commitment to consistency, quality, integrity, and success all the way."</em>
          </blockquote>
          <div class="d-flex align-items-center">
            <img class="rounded-circle me-3" width="50" height="50" src="/static/img/people/murumba.jpg" alt="Production Manager Image">
            <div>
              <p class="fw-bold mb-0">Mr. David Murumba</p>
              <p class="text-muted mb-0">Production Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-dark">
        <img class="card-img-top" src="/static/img/people/DSC_0001.jpg" alt="Card image cap" style="height: 200px; object-fit: cover; border-radius: 10px;">
        <div class="card-body">
          <h4 class="card-title" style="font-family: 'Arial', sans-serif;">A word from the General Manager</h4>
          <blockquote class="card-text">
            <em>"As the G.M of our dynamic farm feeds company, I am privileged to lead an organization that is deeply rooted in a tradition of excellence and innovation. We are committed to fostering sustainable agricultural practices and empowering farmers to thrive in a dynamic industry."</em>
          </blockquote>
          <div class="d-flex align-items-center">
            <img class="rounded-circle me-3" width="50" height="50" src="/static/img/people/DSC_0003.JPG" alt="General Manager Image">
            <div>
              <p class="fw-bold mb-0">Mr. Gachoki</p>
              <p class="text-muted mb-0">General Manager</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <hr />
{% endblock %} {% block team %}
  <!-- product_section.html -->



  <!-- product_gallery.html -->









  </div>
{% endblock %} {% block contactus %}
  <h1 class="text-center " style="font-family: merriweather; color:black">Our Numbers</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family: merriweather">Sales Made</h5>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <p class="card-text" style="font-family: merriweather">95% of our sales target achieved.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family: merriweather">Orders Sold</h5>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="card-text" style="font-family: merriweather">90% of total orders sold.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family: merriweather">Satisfied Customers</h5>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="card-text" style="font-family: merriweather">90% of customers are satisfied with our services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Product promo -->

  
  <section class="container">
    <h1 class="text-center m-4" style="font-family: 'Merriweather', sans-serif; color: black;">Explore Our Store</h1>
    <div class="row">
        <div class="col-lg-6">
            <img src="/static/img/products/DSC_0067.jpg" alt="Farm Feeds" class="img-fluid rounded" />
        </div>
        <div class="col-lg-6">
            <h2 style="font-family: 'Merriweather', sans-serif; color: black;">Welcome to Our Farm Feeds Store</h2>
            <p style="font-family: 'Merriweather', sans-serif; font-size: 1.1rem; color: black;">
                Discover a world of high-quality feeds crafted for the well-being of your livestock. Our products are meticulously designed to meet the nutritional needs of your animals, ensuring their health and productivity.
            </p>
            <p style="font-family: 'Merriweather', sans-serif; font-size: 1.1rem; color: black;">
                Explore our diverse selection of feeds, ranging from poultry and livestock to specialty feeds. Find the perfect solution for your farm, and rest assured that we are dedicated to providing the best nutrition for your animals.
            </p>
            <div class="mt-4">
                <a href="{% url 'shop:product_list' %}" class="btn btn-success me-3">View Products</a>
                <a href="{% url 'shop:create_order' %}" class="btn btn-success">Create Order</a>
            </div>
        </div>
    </div>
</section>


  {% comment %}companys we have worked with{% endcomment %}
  <div class="container">
    <h2 class="my-4 mx-4" style="font-family: merriweather; font-size: 30px; text-align: center; color: black;">Companies We Work With</h2>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/mmm.jpg" alt="Company 1" class="img-fluid rounded img" style="max-height: 100px;" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/kabansora.jpg" alt="Company 2" class="img-fluid rounded img" style="max-height: 100px;" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/essentials.png" alt="Company 3" class="img-fluid rounded img" style="max-height: 100px;" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/tam.png" alt="Company 4" class="img-fluid rounded img" style="max-height: 100px;" />
        </div>
      </div>
    </div>
  </div>
    </form>


  {% comment %} lead section {% endcomment %}
  <section class="lead-section mt-3" style="min-height: 400px; background-color: #f8f9fa;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4" style="font-family: 'Merriweather', serif; color: #000;">Need to contact us?</h2>
                <p class="lead" style="font-family: 'Merriweather', serif; color: #333;">
                    Discover high-quality farm feeds for your livestock. Our feeds are specially crafted to meet the nutritional needs of your animals, ensuring their health and productivity.
                </p>
                <p class="lead" style="font-family: 'Merriweather', serif; color: #333;">
                    Explore our wide range of feeds, and feel free to <a href="{% url 'shop:contactus' %}" style="color: #007bff; text-decoration: none;">contact us</a> for any inquiries or assistance, or make any <a href="{% url 'shop:create_order' %}" style="color: #007bff; text-decoration: none;">orders.</a>
                </p>
            </div>
            <div class="col-lg-6">
                <!-- You can add an image or any other visual elements here -->
                <img class="img-fluid rounded" src="/static/img/needcontact.jpg" alt="" style="max-height: 300px; width: 100%; border-radius: 10px;">
            </div>
        </div>
    </div>
</section>


 



{% endblock %}
