{% extends 'shop/base.html' %} {% load static %} {% block content %}
{% comment %} <div class="hero-section">
  <div class="container">
      <div class="row">
          <!-- Left Column -->
          <div class="col-md-12 animate__animated animate__fadeInLeft">
              <div class="hero-content">
                  <h1 class="hero-title nice_text" style="font-size: 90px; color: red;"><b>Economy Farm Products Limited</b></h1>
                  <p class="hero-subtitle" style="color: red; font-size: 40px; font-family: merriweather;">Healthy, high yielding livestock!</p>
                  <a href="{% url 'shop:about' %}" class="btn btn-success btn-sm" style="font-family: arapey;">About Us</a>
                  <button style="font-family: arapey;" class="btn btn-sm btn-success my-4" data-bs-toggle="modal" data-bs-target="#whatsappModal" title="WhatsApp">whatsapp? </button>
                  <i class="fab fa-whatsapp" style="font-size: 23px;"></i>
              </div>
              
          </div>
      </div>
  </div>
</div> {% endcomment %}


        <!-- Right Column with Carousel -->
        <div class="col-fluid" style="height: 500px;">
          <!-- Insert your carousel code here -->
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <!-- Add more indicators as needed -->
            </ol>

            <!-- Slides -->
            <div class="carousel-inner">
              <div class="carousel-item active fade-in animate__animated animate__fadeIn">
                <img src="/static/img/chickshd6.jpg" style="height: 400px;" alt="Image 1" />
                <div class="carousel-caption">
                  <h3 class="carousel-title" style="font-family: arapey; font-size: 80px; color: green;">Economy Farm Products</h3>
                  <a href="{% url 'shop:product_list' %}" class="btn btn-success">See Products</a>
                  <a href="{% url 'shop:create_order' %}" class="btn btn-success">Create Order</a>
                </div>
              </div>

              <div class="carousel-item fade-in animate__animated animate__fadeIn">
                <img src="/static/img/newanimes/dog.png" style="height: 400px;" alt="Image 2" />
                <div class="carousel-caption">
                  <h3 class="carousel-title" style="font-family: arapey; font-size: 80px; color: green;">Economy Farm Products</h3>
                  <a href="{% url 'shop:product_list' %}" class="btn btn-success">See Products</a>
                  <a href="{% url 'shop:create_order' %}" class="btn btn-success">Create Order</a>
                </div>
              </div>
              <!-- Add more slides as needed -->
              <div class="carousel-item fade-in animate__animated animate__fadeIn">
                <img src="/static/img/newanimes/pigs-Duroc-farm-Highlands-of-Scotland.webp" style="height: 400px;" alt="Image 2" />
                <div class="carousel-caption">
                  <h3 class="carousel-title" style="font-family: arapey; font-size: 80px; color: green;">Economy Farm Products</h3>
                  <a href="{% url 'shop:product_list' %}" class="btn btn-success">See Products</a>
                  <a href="{% url 'shop:create_order' %}" class="btn btn-success">Create Order</a>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} products again {% endcomment %}
  <div class="container">
    <div class="row product-gallery">
      <div class="col-lg-4 col-md-6 product-item">
        <img src="/static/img/products/beta_high_yielder_dairy_meal.JPG" alt="Product 1" class="product-image">
      </div>
      <div class="col-lg-4 col-md-6 product-item">
        <img src="/static/img/products/calf_early_weaner_meal.JPG" alt="Product 2" class="product-image">
      </div>
      <div class="col-lg-4 col-md-6 product-item">
        <img src="/static/img/products/skipa_dog_meal.JPG" alt="Product 3" class="product-image">
      </div>
      <!-- Add more product items as needed -->
    </div>
  </div>
  {% comment %} video {% endcomment %}
  <section class="container-fluid">
    <h1 class="text-center" style="font-family: merriweather; color: green;">Introducing Economy Farm Products</h1>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <!-- Replace 'your_video_url' with the correct path to your video -->
                    <source src="media/blog_videos/60-30-10_Color_Rule.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block portfolio %}
  <div class="container py-4 py-xl-5">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 style="font-family: arapey; font-size: 60px; color: green;">Our Stories</h2>
        <p class="w-lg-50" style="font-family: merriweather;">We have come a long way, with our dear customers in mind, and as we improve our products, we update you and want to hear from you!</p>
      </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
      <div class="col">
        <div>
          <img class="card-img-top w-100 d-block fit-cover" style="height: 200px; border-radius: 10px" src="/static/img/newimages/IMG_20191027_160907.jpg" />
          <div class="card-body p-4">
            <h4 class="card-title" style="font-family: arapey">A word from the Director</h4>
            <blockquote class="card-text">
              <em>"As the director of our farm feeds company, I am dedicated to our mission of nourishing healthier livestock, ensuring the highest yields, and supporting the success of our farming partners. Our commitment to quality, innovation, and sustainability remains unwavering."</em>
            </blockquote>
            <div class="d-flex">
              <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/people/DSC_0054.JPG" />
              <div>
                <p class="fw-bold mb-0">Christine Nyambura</p>
                <p class="text-muted mb-0">Director</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <img class="card-img-top w-100 d-block fit-cover" style="height: 200px; border-radius: 10px" src="/static/img/newimages/IMG_20191027_160538.jpg" />
          <div class="card-body p-4">
            <h4 class="card-title" style="font-family: arapey">A word from the Production Manager</h4>
            <blockquote class="card-text">
              <em>"As the production Manager of our esteemed farm feeds company, I am privileged to lead a team dedicated to delivering exceptional services to our valued clients. We take great pride in our commitment to consistency, quality, integrity, and success all the way."</em>
            </blockquote>
            <div class="d-flex">
              <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/people/murumba.jpg" />
              <div>
                <p class="fw-bold mb-0">Mr. David Murumba</p>
                <p class="text-muted mb-0">Production Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <img class="card-img-top w-100 d-block fit-cover" style="height: 200px; border-radius: 10px" src="/static/img/newimages/engineer.jpg" />
          <div class="card-body p-4">
            <h4 class="card-title" style="font-family: arapey">A word from the General Manager</h4>
            <blockquote class="card-text">
              <em>"As the G.M of our dynamic farm feeds company, I am privileged to lead an organization that is deeply rooted in a tradition of excellence and innovation. We are committed to fostering sustainable agricultural practices and empowering farmers to thrive in a dynamic industry."</em>
            </blockquote>
            <div class="d-flex">
              <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="/static/img/people/DSC_0003.JPG" />
              <div>
                <p class="fw-bold mb-0">Mr. Gachoki</p>
                <p class="text-muted mb-0">General Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
{% endblock %} {% block team %}
  <!-- product_section.html -->



  <!-- product_gallery.html -->
<section class="product-section">
  <div class="container">
      <h2 class="section-title" style="font-size: 40px; color: green;"><b>Our Product Gallery</b></h2>

      <div class="photo-gallery">
        <div class="photo">
            <img src="/static/img/products/beta_high_yielder_dairy_meal.JPG" alt="Photo 1">
            <div class="caption">Beta High yielder</div>
        </div>
        <div class="photo">
            <img src="/static/img/products/breeder_chick_starter_mash.JPG" alt="Photo 2">
            <div class="caption">Chick Starter Mash</div>
        </div>
        <div class="photo">
            <img src="/static/img/products/broiler_starter_mash.JPG" alt="Photo 3">
            <div class="caption">Broiler Starter Crumbs</div>
        </div>
        <div class="photo">
          <img src="/static/img/products/chick_starter_crumbs.JPG" alt="Photo 3">
          <div class="caption">Chick Starter Crumbs</div>
      </div>
        <!-- Add more photos as needed -->
    </div>








  </div>
{% endblock %} {% block contactus %}
  <h1 class="text-center mt-4" style="font-family: merriweather; color:green">Our Numbers</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family: merriweather">Sales Made</h5>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <p class="card-text" style="font-family: merriweather">95% of our sales target achieved.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family: merriweather">Orders Sold</h5>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="card-text" style="font-family: merriweather">90% of total orders sold.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family: merriweather">Satisfied Customers</h5>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="card-text" style="font-family: merriweather">90% of customers are satisfied with our services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Product promo -->

  <h1 class="text-center mt-4" style="font-family: merriweather; color: green;">Our Store</h1>
  <section class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="/static/img/newimages/Bags.jpg" alt="Farm Feeds" class="img-fluid rounded" />
      </div>
      <div class="col-lg-6">
        <h2 style="font-family: merriweather">Welcome to Our Farm Feeds Store</h2>
        <p style="font-family: merriweather">At Farm Feeds Company, we offer a wide range of high-quality feeds for your livestock. Our products are carefully crafted to meet the nutritional needs of your animals, ensuring their health and productivity.</p>
        <p style="font-family: merriweather">Explore our selection of feeds, from poultry and livestock to specialty feeds, and find the perfect solution for your farm. We are committed to providing the best nutrition for your animals.</p>
        <a href="{% url 'shop:product_list' %}" class="btn btn-info">View Products</a>
        <a href="{% url 'shop:create_order' %}" class="btn btn-info">Create Order</a>
      </div>
    </div>
  </section>
  {% comment %}companys we have worked with{% endcomment %}
  <div class="container">
    <h2 class="my-4" style="font-family: merriweather; font-size: 30px; text-align: center; color: green;">Companies We Work With...</h2>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/mmm.jpg" alt="Company 1" class="img-fluid rounded" style="max-height: 100px;" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/kabansora.jpg" alt="Company 2" class="img-fluid rounded" style="max-height: 100px;" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/essentials.png" alt="Company 3" class="img-fluid rounded" style="max-height: 100px;" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="company-logo text-center">
          <img src="/static/img/logos/tam.png" alt="Company 4" class="img-fluid rounded" style="max-height: 100px;" />
        </div>
      </div>
    </div>
  </div>
    </form>


  {% comment %} lead section {% endcomment %}
  <section class="lead-section mt-3" style="height: 400px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style="font-family: merriweather; color: green;">Need to contact us...</h2>
                <p style="font-family: merriweather;">
                    Discover high-quality farm feeds for your livestock. Our feeds are specially crafted to meet the nutritional needs of your animals, ensuring their health and productivity.
                </p>
                <p style="font-family: merriweather;">
                    Explore our wide range of feeds, and feel free to <a href="{% url 'shop:contactus' %}">contact us</a> for any inquiries or assistance, or make any <a href="{% url 'shop:create_order' %}">orders.</a>
                </p>
            </div>
            <div class="col-md-6">
                <!-- You can add an image or any other visual elements here -->
                <img src="/static/img/needcontact.jpg" alt="" style="height: 200px; width: 80%; border-radius: 10px;">
            </div>
        </div>
    </div>
</section>

 



{% endblock %}
