{% extends 'shop/base.html' %}

{% block content %}
<div id="carousel-1" class="carousel slide" data-bs-ride="carousel" style="height: 600px;">
    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
            <img class="w-100 d-block position-absolute h-100 fit-cover brighten-sharpen-image" src="/static/img/newimages/team.jpg"
                alt="Slide Image" style="z-index: -1;" />
            <div class="container d-flex flex-column justify-content-center h-100">
                <div class="row">
                    <div class="col-md-6 col-xl-4 offset-md-2">
                        <div style="max-width: 300px;">
                            <h1 class="animate__animated animate__bounce text-uppercase fw-bold"
                                style="font-size: 80px; font-family: 'Arapey', serif; color: rgb(17, 17, 17);">Economy
                            Farm Products</h1>
                            <p class="my-3"
                                style="font-size: 30px; font-family: 'Arapey', serif; color: rgb(252, 252, 252);">Your
                                healthy, high yielding Livestock.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <img class="w-100 d-block position-absolute h-100 fit-cover brighten-sharpen-image" src="/static/img/newimages/IMG_20210105_132129.jpg"
                alt="Slide Image" style="z-index: -1;" />
            <div class="container d-flex flex-column justify-content-center h-100">
                <div class="row">
                    <div class="col-md-6 col-xl-4 offset-md-2">
                        <div style="max-width: 350px;">
                            <h1 class="animate__animated animate__bounce text-uppercase fw-bold"
                                style="font-size: 80px; font-family: 'Arapey', serif; color: rgb(8, 8, 8);">Economy
                                Farm Products</h1>
                            <p class="my-3"
                                style="font-size: 30px; font-family: 'Arapey', serif; color: rgb(243, 242, 242);">Your
                                healthy, high yielding Livestock.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item h-100">
            <img class="w-100 d-block position-absolute h-100 fit-cover brighten-sharpen-image" src="/static/img/newimages/Gate.jpg" alt="Slide Image"
                style="z-index: -1;" />
            <div class="container d-flex flex-column justify-content-center h-100">
                <div class="row">
                    <div class="col-md-6 col-xl-4 offset-md-2">
                        <div style="max-width: 350px;">
                            <h1 class="animate__animated animate__bounce text-uppercase fw-bold"
                                style="font-size: 80px; font-family: 'Arapey', serif; color: rgb(10, 10, 10)">Economy
                                Farm Products</h1>
                            <p class="my-3"
                                style="font-size: 30px; font-family: 'Arapey', serif; color: rgb(255, 254, 254);">Your
                                healthy, high yielding Livestock.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <div class="carousel-indicators">
        <button class="active" type="button" data-bs-target="#carousel-1" data-bs-slide-to="0"></button>
        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button>
    </div>
</div>


{% endblock content %}
{% block portfolio %}
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 style="font-family: arapey;">Our Stories</h2>
            <p class="w-lg-50">We have come a long way, with our dear customers in mind, and as we improve our products,
                we update you and want to hear from you!</p>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div><img class="card-img-top w-100 d-block fit-cover" style="height: 200px; border-radius: 10px;"
                    src="/static/img/newimages/IMG_20191027_160907.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title" style="font-family: arapey;">A word from the Manager</h4>
                    <blockquote class="card-text"><em>"As the manager of our farm feeds company, I am dedicated to
                            our mission of nourishing healthier livestock, ensuring the highest yields, and supporting
                            the success of our farming partners. Our commitment to quality, innovation, and sustainability
                            remains unwavering."</em></blockquote>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50"
                            src="/static/img/newimages/workshop.jpg" />
                        <div>
                            <p class="fw-bold mb-0">John Kamau</p>
                            <p class="text-muted mb-0">Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div><img class="card-img-top w-100 d-block fit-cover" style="height: 200px; border-radius: 10px;"
                    src="/static/img/newimages/IMG_20191027_160538.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title" style="font-family: arapey;">A word from the Supervisor</h4>
                    <blockquote class="card-text"><em>"As the supervisor of our esteemed farm feeds company, I am privileged
                            to lead a team dedicated to delivering exceptional services to our valued clients. We take
                            great pride in our commitment to consistency, quality, integrity, and success all the way."</em></blockquote>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50"
                            src="/static/img/people/person2.jpg" />
                        <div>
                            <p class="fw-bold mb-0">Mary Waceke</p>
                            <p class="text-muted mb-0">Supervisor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div><img class="card-img-top w-100 d-block fit-cover" style="height: 200px; border-radius: 10px;"
                    src="/static/img/newimages/engineer.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title" style="font-family: arapey;">A word from the C.E.O</h4>
                    <blockquote class="card-text"><em>"As the CEO of our dynamic farm feeds company, I am privileged to lead
                            an organization that is deeply rooted in a tradition of excellence and innovation. We are committed
                            to fostering sustainable agricultural practices and empowering farmers to thrive in a dynamic industry."</em></blockquote>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50"
                            src="/static/img/people/person3.jpg" />
                        <div>
                            <p class="fw-bold mb-0">Ruth Nyambura</p>
                            <p class="text-muted mb-0">C.E.O</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<hr>
{% endblock portfolio %}

{% block team %}
<section id="team" class="bg-light"
    style="background-color: aquamarine;">

    <div class="container" style="font-family: arapey;">

        <div class="row">
            <h1 class="text-center mb-5" style="font-size: 50px; font-family: merriweather;">Meet the Team</h1>
            <div class="col-sm-4">

                <div class="team-member"><img class="rounded-circle mx-auto" src="/static/img/people/person1.jpg" />
                    <h4 style="color: black;">Joseph Njoroge</h4>
                    <p class="text-muted" style="color: black;">Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="/static/img/people/person2.jpg" />
                    <h4 style="color: black">Alice Wambui</h4>
                    <p class="text-muted" style="color: black">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="/static/img/people/person3.jpg" />
                    <h4 style="color: black">Diana Wambui</h4>
                    <p class="text-muted" style="color: black">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock team %}



{% block contactus %}
<h1 class="text-center mt-4" style="font-family: merriweather;">Our Numbers</h1>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family:merriweather;">Sales Made</h5>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <p class="card-text" style="font-family:arapey;">95% of our sales target achieved.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family:merriweather;">Orders Sold</h5>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="card-text" style="font-family:arapey;">90% of total orders sold.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-family:merriweather;">Satisfied Customers</h5>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="card-text" style="font-family:arapey;">90% of customers are satisfied with our services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Product promo -->

<h1 class="text-center mt-4" style="font-family: merriweather;">Our products</h1>
<section class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="/static/img/newimages/Bags.jpg" alt="Farm Feeds" class="img-fluid rounded">
      </div>
      <div class="col-lg-6">
        <h2 style="font-family: merriweather;">Welcome to Our Farm Feeds Store</h2>
        <p style="font-family: arapey;">At Farm Feeds Company, we offer a wide range of high-quality feeds for your livestock. Our products are carefully crafted to meet the nutritional needs of your animals, ensuring their health and productivity.</p>
        <p style="font-family: arapey;">Explore our selection of feeds, from poultry and livestock to specialty feeds, and find the perfect solution for your farm. We are committed to providing the best nutrition for your animals.</p>
        <a href="{% url 'shop:product_list' %}" class="btn btn-info">Shop Now</a>
      </div>
    </div>
  </section>

  <!-- Contact us section -->
 
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="font-family: merriweather;">Contact Us <i class="fas fa-envelope"></i></h2>
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Your Message"></textarea>
                </div>
                <button type="submit" class="btn btn-info"><i class="fas fa-paper-plane"></i> Submit</button>
            </form>
        </div>
        <div class="col-lg-6 mt-5">
            <h2 style="font-family: merriweather;">Visit Us <i class="fas fa-map-marker-alt"></i></h2>
            <p style="font-family: merriweather;">Economy Farm Feeds</p>
            <p style="font-family: merriweather;">Ndeiya, Limuru</p>
            <p style="font-family: merriweather;">Kenya</p>

            <h2 style="font-family: merriweather;">Contact Information <i class="fas fa-phone"></i></h2>
            <p style="font-family: merriweather;">Email: sales@ecnomyfarmproducts.com <i class="fas fa-envelope"></i></p>
            <p style="font-family: merriweather;">Phone: 0722209838 <i class="fas fa-phone"></i></p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12">
            <!-- Embed Google Map iframe -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12345.678901234567!2d-0.12345678901234567!3d12.345678901234567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDAyJzI4LjAiTiAwwrAyMCcwMy44IkU!5e0!3m2!1sen!2sus!4v1234567890123" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>





{% endblock contactus %}