{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div  style="background-image: url('/static/img/big4.jpg');" class="introduction-section bg-image text-center">
  <h2 style="font-family: Cookie; font-size: 60px; color: black;">Welcome to Our Product Page</h2>
  <p style="font-family: arapey; font-size: 20px; color: black;">Discover our amazing selection of products that will meet all your needs and desires. Explore our high-quality products and find the perfect solution for you.</p>
</div>


{% endblock content %}
{% block portfolio %}
<div class="container-fluid bg-image">
  <div class="row animate__animated animate__zoomIn">
      
    <!-- Categories Section (Left) -->
    <div class="col-md-3">
      <h1 class="text-center mb-4" style="font-family: arapey; color: black;">Categories</h1>
      <div class="list-group">
        <a href="{% url 'shop:product_list' %}" class="list-group-item {% if not category %}active{% endif %}" style="background-color: green; color:white; font-family: arapey;">All</a>
        {% for c in categories %}
        <a href="{{ c.get_absolute_url }}" class="list-group-item {% if category.slug == c.slug %}active{% endif %}" style="background-color: green; color:white; font-family: arapey;">{{ c.name }}</a>
        {% endfor %}
      </div>
    </div>

    <!-- Products Section (Right) -->
    <div class="col-md-9">
      <h1 class="text-center mb-4" style="font-family: 'arapey'; color: black;">
        {% if category %}{{ category.name }}{% else %}Products {% endif %}
      </h1>
      <form method="GET" action="{% url 'shop:filtered_products' %}" class="form-inline mb-3">
        <input type="text" class="form-control mr-2" id="name" name="name" placeholder="Enter name">
        <button type="submit" class="btn btn-success">Filter</button>
      </form>

      <!-- Product List -->
      <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4"">
          <div class="card">
            <a href="{{ product.get_absolute_url }}">
              <img src="{% if product.image %}{{ product.image.url }}{% else %}/static/img/product1.webp{% endif %}" class="card-img-top" alt="Product Image">
            </a>
            <div class="card-body" style="background-color: black; color: white; opacity: 0.7;">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description|truncatewords:10 }}</p>
              <a href="{{ product.get_absolute_url }}" class="btn btn-success">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% include "shop/product/pagination.html" with page=products %}
    </div>
  </div>
</div>






{% endblock portfolio %}

{% block modal %}
<div class="section text-center m-2">
  <h2 class="text-center" style="font-family: arapey;">Animal Feeds Nutrition Specification</h2>
  <div id="accordion-1" class="accordion" role="tablist">
    <div class="accordion-item" style="background-color: #457B9D;">
      <h2 class="accordion-header" role="tab"><button class="accordion-button"
           type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Farm Feeds
          Poultry Products</button></h2>
      <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fibre</th>
                  <th>Fat</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Broiler Stater Mash</td>
                  <td>2980 KCal/Kg</td>
                  <td>20% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.0%</td>
                  <td>0.45%</td>
                </tr>
                <tr>
                  <td>Broiler Finisher Mash Mash</td>
                  <td>3000 KCal/Kg</td>
                  <td>18% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.2%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Farm Gro Stater Mash</td>
                  <td>3100 KCal/Kg</td>
                  <td>21% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.2%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Chick Mash</td>
                  <td>2600 KCal/Kg</td>
                  <td>18% Minimun</td>
                  <td>6% Minimum</td>
                  <td>10% Minimum</td>
                  <td>1.2%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Layers Mash</td>
                  <td>2600 KCal/Kg</td>
                  <td>15.5% Minimun</td>
                  <td>7.5% Minimum</td>
                  <td>6% Minimum</td>
                  <td>3.5%</td>
                  <td>1.25%</td>
                </tr>
                <tr>
                  <td>Kienyeji Poultry Mash</td>
                  <td>2300 KCal/Kg</td>
                  <td>15% Minimun</td>
                  <td>4% Minimum</td>
                  <td>6% Minimum</td>
                  <td>1.5%</td>
                  <td>0.7%</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #457B9D;">
      <h2 class="accordion-header" role="tab"><button 
          class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">More on Pig
          Feeds</button></h2>
      <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fat</th>
                  <th>Crude Fibre</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sow and Weaner Premium</td>
                  <td>300Kcal/Kg</td>
                  <td>16.5% ge Min</td>
                  <td>8.0%ge Max</td>
                  <td>7.0% ge Min</td>
                  <td>1.5% ge Min</td>
                  <td>0.7% ge Min</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item " style="background-color: #457B9D;">
      <h2 class="accordion-header text-center" role="tab"><button 
          class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">More on Dairy
          Products</button></h2>
      <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fibre</th>
                  <th>Fat</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Calf Early Weaner Meal</td>
                  <td>2600Kgcal/Kg</td>
                  <td>17% Min</td>
                  <td>8% Min</td>
                  <td>10% Min</td>
                  <td>0.5%</td>
                  <td>0.45%</td>
                </tr>
                <tr>
                  <td>Young Stock Meal</td>
                  <td>2500Kgcal/Kg</td>
                  <td>15.5% Min</td>
                  <td>12% Min</td>
                  <td>6% Min</td>
                  <td>0.7%</td>
                  <td>0.5%</td>
                </tr>
                <tr>
                  <td>Farm Stock Meal</td>
                  <td>2000Kgcal/Kg</td>
                  <td>14% Min</td>
                  <td>12% Min</td>
                  <td>6% Min</td>
                  <td>0.7%</td>
                  <td>0.5%</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #457B9D;">
      <h2 class="accordion-header text-center" role="tab"><button 
          class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-3">More on Dog
          food</button></h2>
      <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
        <div class="accordion-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Metabolizable Energy</th>
                  <th>Crude Protein</th>
                  <th>Crude Fibre</th>
                  <th>Fat</th>
                  <th>Calcium</th>
                  <th>Phosphorus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Skipa Dog Meal</td>
                  <td>3150Kcal/Kg</td>
                  <td>20% Min</td>
                  <td>5% Min</td>
                  <td>5% Min</td>
                  <td>2.2% Min</td>
                  <td>1.1% Min</td>
                </tr>

              </tbody>
            </table>
            <h3>Feeding Instructions</h3>
            <p>1. Skipa Dog Meal must be cooked befor being fed to the dogs.</p>
            <p>2. Add the dog meal to boiling water and cook by stirring for 15min to achieve a semi solid paste</p>
            <p>3. Allow to cool amd provide to the dogs as per instructions on the food pack.</p>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock modal %}

{% block services %}

{% comment %} <div class="section text-center m-2">
  <h3 class="text-center" style="font-family: 'Arapey', serif; color: #3D5A80;">Feeding Instructions</h3>
  <div id="accordion-1" class="accordion" role="tablist">
      <div class="accordion-item">
          <h2 class="accordion-header" role="tab">
              <button class="accordion-button" style="background-color: #98C1D9; color: #2A363B;" type="button"
                  data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-6" aria-expanded="true"
                  aria-controls="accordion-1 .item-6">Feeding Instructions - Poultry
              </button>
          </h2>
          <div class="accordion-collapse collapse show item-6" role="tabpanel" data-bs-parent="#accordion-6">
              <div class="accordion-body">
                  <table class="table table-bordered" style="background-color: #EE6C4D; color: #F0EBCC;">
                      <tr>
                          <th>Product Type</th>
                          <th>Feeding Frequency</th>
                          <th>Feeding Amount</th>
                      </tr>
                      <!-- Table content here -->
                  </table>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" role="tab">
              <button class="accordion-button collapsed" style="background-color: #F18D9E; color: #2A363B;" type="button"
                  data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-7" aria-expanded="false"
                  aria-controls="accordion-1 .item-7">Feeding Instructions - Pig Feeds
              </button>
          </h2>
          <div class="accordion-collapse collapse item-7" role="tabpanel" data-bs-parent="#accordion-1">
              <div class="accordion-body">
                  <table class="table table-bordered" style="background-color: #FCB9B2; color: #2A363B;">
                      <tr>
                          <th>Feed Type</th>
                          <th>Feeding Frequency</th>
                          <th>Feeding Amount</th>
                      </tr>
                      <!-- Table content here -->
                  </table>
              </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 class="accordion-header" role="tab">
              <button class="accordion-button collapsed" style="background-color: #6B4226; color: #F0EBCC;" type="button"
                  data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-8" aria-expanded="false"
                  aria-controls="accordion-1 .item-8">Feeding Instructions - Tilapia
              </button>
          </h2>
          <div class="accordion-collapse collapse item-8" role="tabpanel" data-bs-parent="#accordion-1">
              <div class="accordion-body">
                  <table class="table table-bordered" style="background-color: #AB83A1; color: #F0EBCC;">
                      <tr>
                          <th>Food Type</th>
                          <th>Feeding Frequency</th>
                          <th>Feeding Amount</th>
                      </tr>
                      <!-- Table content here -->
                  </table>
              </div>
          </div>
      </div>
  </div>
</div> {% endcomment %}



{% endblock services %}

{% block team %}
<!-- top_products.html -->
<div class="container">
  <h2 class="text-center" style="font-family: 'Arapey', sans-serif;">Top Products</h2>
  <div class="row m-2">
    {% for product in top_products %}
      <div class="col-md-4">
        <div class="product-card shadow">
          <span class="badge badge-primary">Top Products</span>
          {% if product.image %}
            <a href="{{ product.image.url }}" class="d-block">
              <img src="{{ product.image.url }}" style="height: 200px; object-fit: contain; width: 100%; margin: 5px;" class="card-img-top rounded"
                alt="Product Image">
            </a>
          {% endif %}
          <div class="card-body" style="background-color: #000; border-radius: 10px;">
            <h5 style="font-family: 'Merriweather', serif; color: #ff0000;">{{ product.name }}</h5>
            <a href="{{ product.get_absolute_url }}" style="font-family: 'Arapey', sans-serif; color: #fff;"><b>Read More</b></a>
          </div>
          <!-- Add more product details here -->
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock  %}