{% extends 'shop/base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4" style="font-family: arapey;">Create Your Order <i class="fas fa-shopping-cart"></i></h2>
    <form method="post" action="{% url 'shop:create_order' %}" class="needs-validation" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <p class="lead">
        <b>***We will get back to you as soon as possible!** <i class="fas fa-phone"></i></b>
      </p>
      <button type="submit" class="btn btn-success m-2">Place Order</button>
    </form>
  </div>
{% endblock %}
