<div class="container">
  <div class="row">
      <div class="col-md-12">
          <ul class="pagination justify-content-center">
              {% if page.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1" tabindex="-1" aria-label="First">
                          <span aria-hidden="true">First</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">Previous</span>
                      </a>
                  </li>
              {% endif %}
              {% for num in page.paginator.page_range %}
                  <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
              {% endfor %}
              {% if page.has_next %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">Next</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                          <span aria-hidden="true">Last</span>
                      </a>
                  </li>
              {% endif %}
          </ul>
      </div>
  </div>
</div>
