{% extends "shop/base.html" %}
{% load static %}

{% block content %}
<section class="farm-feeds-section">
    <div class="flowchart">
        <div class="step">
            <img src="/static/img/newimages/IMG_20191224_150649.jpg" alt="Step 1" class="img-fluid" style="height: 400px; width: 400px;">
            <h3 style="font-family: Merriweather;">Step 1: Harvest Fresh Ingredients</h3>
        </div>
        
        <div class="step">
            <img src="step2.jpg" alt="Step 2">
            <p>Step 2: Grinding and Mixing</p>
        </div>
        <div class="step">
            <img src="step3.jpg" alt="Step 3">
            <p>Step 3: Quality Control</p>
        </div>
        <div class="step">
            <img src="step4.jpg" alt="Step 4">
            <p>Step 4: Packaging</p>
        </div>
    </div>
</section>
{% endblock content %}