{% extends 'shop/base.html' %}

{% block content %}
  <!-- HTML for the Team Members Section -->
  <section class="team-section">
    <div class="container">
      <h2 class="team-title" style="font-family: arapey">Our Team</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- Team Member 1 -->
        <div class="col">
          <div class="team-member card">
            <img src="/static/img/people/murumba.jpg" class="card-img-top img-fluid rounded" alt="Team Member 1" style="height: 300px; object-fit: cover; width: 100%;" />
            <div class="card-body">
              <h3 class="card-title" style="font-family: arapey;">Mr David Murumba</h3>
              <p class="card-subtitle" style="font-family: arapey; font-size: 20px;">Production Manager</p>
              <p class="card-text description">David Murumba is an Animal Science graduate of Egerton University with over 35 years of experience in commercial and research livestock production systems. With a passion for Animal nutrition, David has previously worked for KALRO-Naivasha, Eatec Ltd (East Africa Tanning and Extra Company), Farmers Choice Ltd and Millennium Millers amongst others. He joined Economy Farm Products Ltd in 2006. He heads the Production department with key responsibilities in Feed formulation, production planning, training and quality assurance. Besides the basic training in animal science, David has over time earned certificates in Food/Feed Safety (HACCP), Feed Production and Formulation, and, Good Manufacturing Practices (GPM &amp; QAS) systems. He is hands-on in the application of modern Least Cost Formulation (LCF) software in the production of quality animal feeds.</p>
              <div class="social-links">
                <a href="https://www.linkedin.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Team Member 2 -->
        <div class="col">
          <div class="team-member card">
            <img src="/static/img/people/director.png" class="card-img-top img-fluid rounded" alt="Team Member 2" style="height: 300px; object-fit: cover; width: 100%;" />
            <div class="card-body">
              <h3 class="card-title" style="font-family: arapey;">Christine Nyambura</h3>
              <p class="card-subtitle" style="font-family: arapey; font-size: 20px;">Director</p>
              <p class="card-text description">Christine is an experienced web developer with a passion for creating beautiful and functional websites. He specializes in front-end development and loves working with the latest web technologies.</p>
              <div class="social-links">
                <a href="https://www.linkedin.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Team Member 3 -->
        <div class="col">
          <div class="team-member card">
            <img src="/static/img/people/DSC_0003.JPG" class="card-img-top img-fluid rounded" alt="Team Member 3" style="height: 300px; object-fit: cover; width: 100%;" />
            <div class="card-body">
              <h3 class="card-title" style="font-family: arapey;">Mr.Gachoki</h3>
              <p class="card-subtitle" style="font-family: arapey; font-size: 20px;">General Manager</p>
              <p class="card-text description">Mr.Gachoki is an experienced web developer with a passion for creating beautiful and functional websites. He specializes in front-end development and loves working with the latest web technologies.</p>
              <div class="social-links">
                <a href="https://www.linkedin.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                <a href="https://twitter.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/johndoe" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Similar structure for additional team members -->
      </div>
    </div>
  </section>
{% endblock %}
