<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-info text-black text-center">
                <h3 class="card-title" style="font-family: arapey; color: white;">Please Change Password</h3>
            </div>
            <div class="card-body">
                <form method="post"  class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" value="change" class="btn btn-info">Change Password</button>
                </form>
                <!-- <p class="mt-3">Don't have an account? <a href="{% url 'accounts:register' %}">Sign up</a></p> -->
                <p class="mt-3">Return to <a href="{% url 'shop:homepage' %}">Home</a></p>
            </div>
        </div>
    </div>
</body>
</html>