{% extends 'shop/base.html' %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container-fluid py-4 py-xl-5 shadow shadow-2 my-2" style="background-color: aliceblue; border-radius: 10px">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        {% if post.video %}
          <div class="embed-responsive embed-responsive-16by9" style="background-color: aliceblue; border-radius: 10px; overflow: hidden;">
            <video class="embed-responsive-item" controls>
              <source src="{{ post.video.url }}" type="video/mp4" />Your browser does not support the video tag.
            </video>
          </div>
        {% endif %}
        <h2 class="animate__animated animate__bounce" style="font-family: merriweather; font-size: 40px; color: green;">{{ post.title }}</h2>
        <hr />
      </div>
    </div>

    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 m-4">
      <div class="col">
        {% if post.image %}
          <div class="card m-3">
            <div class="card-body p-4">
              {% if post.video %}
                <div class="embed-responsive embed-responsive-16by9" style="background-color: aliceblue; border-radius: 10px; overflow: hidden;">
                  <video class="embed-responsive-item" controls>
                    <source src="{{ post.video.url }}" type="video/mp4" />Your browser does not support the video tag.
                  </video>
                </div>
              {% endif %}

              <div class="text-center" style="background-color: aliceblue; border-radius: 10px; overflow: hidden;">
                <img class="card-img-top d-block mx-auto fit-cover" style="max-height: 300px; width: auto;" src="{{ post.image.url }}" alt="{{ post.title }}" />
              </div>

              <p class="card-text m-4" style="font-family: arapey; font-size: larger;">{{ post.body }}</p>

              <div class="d-flex align-items-center">
                <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Owner Image" />
                <div>
                  <p class="fw-bold mb-0">{{ post.owner }}</p>
                  <p class="text-muted mb-0">Published {{ post.publish }} by {{ post.author }}</p>
                </div>
              </div>
              <a class="btn btn-info btn-sm m-2" href="{% url 'blog:post_list' %}"><i class="fas fa-arrow-left"></i> Back</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% comment %}related posts{% endcomment %}
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 m-4">
    <div class="col">
      <h3 class="mb-4 text-center" style="font-family: merriweather;">Other Posts</h3>

      {% for related_post in related_posts %}
        <div class="card m-3">
          <div class="card-body p-4">
            <h5 class="card-title" style="font-family: merriweather;">{{ related_post.title }}</h5>
            <p class="card-text" style="font-family: arapey;">{{ related_post.body|truncatewords:30 }}</p>
            <a href="{{ related_post.get_absolute_url }}" class="btn btn-info btn-sm" style="font-family: merriweather;">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
