<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
    {% extends "shop/base.html" %}
{% block title %}Payment canceled{% endblock %}
{% block content %}
<div class="row text-center">
    <h1>Your payment has not been processed</h1>
    <p>There was a problem processing your payment.</p>
    {% endblock %}

    {% block team %}
   
    
    {% endblock team %}
</div>
</body>
</html>

