{% extends "shop/base.html" %}
{% block title %}Payment successful{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <h1 style="font-family: arapey;">Your payment was successful</h1>
                <p style="font-family: merriweather;">Your payment has been processed successfully.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block contactus %}
{% endblock %}

{% block team %}


{% endblock team %}
